In [1]:
import spacy

In [2]:
nlp = spacy.load("en_core_web_sm")
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [3]:
doc = nlp("Tesla Inc is going to acquire twitter for $45 billion")
for ent in doc.ents:
    print(ent.text, " | ", ent.label_, " | ", spacy.explain(ent.label_))

Tesla Inc  |  ORG  |  Companies, agencies, institutions, etc.
$45 billion  |  MONEY  |  Monetary values, including unit

In [4]:
from spacy import displacy

displacy.render(doc, style="ent")

In [5]:
nlp.pipe_labels['ner']

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [7]:
doc = nlp("Michael Bloomberg founded Bloomberg Inc in 1982")
for ent in doc.ents:
    print(ent.text, "|", ent.label_, "|", spacy.explain(ent.label_))

Michael Bloomberg | PERSON | People, including fictional
Bloomberg Inc | ORG | Companies, agencies, institutions, etc.
1982 | DATE | Absolute or relative dates or periods

In [20]:
doc = nlp("Tesla Inc is going to acquire Twitter Inc for $45 billion")
for ent in doc.ents:
    print(ent.text, " | ", ent.label_, " | ", ent.start_char, "|", ent.end_char)

Tesla Inc  |  ORG  |  0 | 9
Twitter Inc  |  ORG  |  30 | 41
$45 billion  |  MONEY  |  46 | 57

In [9]:
s = doc[2:5]
s

is going to

In [10]:
type(s)

spacy.tokens.span.Span

In [21]:
from spacy.tokens import Span

s1 = Span(doc, 0, 1, label="ORG")
s2 = Span(doc, 6, 7, label="ORG")

doc.set_ents([s1, s2], default="unmodified")

In [22]:
for ent in doc.ents:
    print(ent.text, " | ", ent.label_)

Tesla Inc  |  ORG
Twitter Inc  |  ORG
$45 billion  |  MONEY

# Exercise

In [3]:
text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

doc = nlp(text)

In [7]:
Geographical_location_Names = []
for ent in doc.ents:
    if ent.label_ == "GPE":
        Geographical_location_Names.append(ent.text)
Geographical_location_Names

['India',
 'Delhi',
 'Gujarat',
 'Tamilnadu',
 'Pongal',
 'Andhrapradesh',
 'Assam',
 'Bihar']

In [9]:
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

doc = nlp(text)

In [10]:
for ent in doc.ents:
    print (ent.text , " | ", ent.label_)

Sachin Tendulkar  |  PERSON
24 April 1973  |  DATE
Virat Kholi  |  LOC
5 November 1988  |  DATE
Dhoni  |  PERSON
7 July 1981  |  DATE
Ricky  |  PERSON
19 December 1974  |  DATE

In [11]:
All_Birth_Dates = []
for ent in doc.ents:
    if ent.label_ == "DATE":
        All_Birth_Dates.append(ent.text)
All_Birth_Dates

['24 April 1973', '5 November 1988', '7 July 1981', '19 December 1974']